html, body {
    height: 100%;
}

body {
    margin-bottom: 0px;
    margin-top: 0px;
    height: 98%;
}

#work-area {
/*
    height: 90%;
    */
    margin: 1% 1% 1% 1%;
    height: 98%;
}

#canvas {
    
    display: block;
    height: 65%;
    width: 98%;
    border-style: solid;
}

noscript {
    color: #ff0000;
}

#draw-button {
    width: 100px;
}

input[type="number"] {
    width: 50px;
}

#controls {
    margin-top: 1%;
    height: 30%;
}

#controls svg {
    height: 100%;
}

#settings {
    display: none;
/*
    height: 3%;
    margin-top: 1%
    */
}

#draw-button, .zoom {
    height: 5%;
}

.arrow {
    display: table-cell;
    height: 100%;
    width: 33%;
}

.zoom {
    width: 5%;
}


@media screen and (min-aspect-ratio: 4/3) {
    #work-area {
        height: 90%;
    }
    #canvas {
        height: 100%;
        width: 80%;
        display: inline;
        /*margin-left: 0;*/
    }
    
    #controls {
        float: right;
        height: 100%;
        width: 18%;
        display: table;
        table-layout: fixed;
        text-align: center;
    }
    /*
    #controls > * {
        display: table-row;
        height: 100%;
        width: 100%;
        margin: auto;
    }
    */
    #settings {
        display: block;
    }

}
