html, body {
    height: 100%;
}

body {
    margin-bottom: 0px;
    margin-top: 0px;
}

#canvas {
    margin: auto;
    display: block;
    height: 90%;
    width: 100%;
    border-style: solid;
}

noscript {
    color: #ff0000;
}

#draw-button {
    width: 100px;
}

input[type="number"] {
    width: 50px;
}

#controls, #settings {
    height: 3%;
}

#settings {
    margin-top: 1%
}

#draw-button, .arrow, .zoom {
    height: 100%;
}
